.hero-section {
    height: 400px;
    background-image: url('../img/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.photo-me {
    height: 300px;
    width: 300px;
    /* vh o porcentaje */
    image-rendering: auto;
    /* margin-top: 50px; */
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
}

.skill-icon {
    font-size: 60px;
}

.skill-icon:hover {
    color: rgb(60, 15, 15);
    scale: 1.3;
}

/* .carusel-img {
    filter: grayscale(100%);
}

.carusel-img:hover {
    filter: none;
} */